<!DOCTYPE HTML>
<html>

<head>
    <title>
        {% block title %}
        colour_purple
        {% endblock title %}
    </title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" title="style" />
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <h1><a href="/">colour<span class="logo_colour">purple</span></a></h1>
                    <h2>Simple. Contemporary. Website Template.</h2>
                </div>
            </div>
            <div id="menubar">
                <ul id="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/courses/">Courses</a></li>
                    <li><a href="/categories/">Categories</a></li>
                    <li><a href="/contacts/">Contact Us</a></li>
                    <li><a href="/about/">About</a></li>
                </ul>
            </div>

        </div>
        <div id="site_content">
            {% include 'sidebar.html' %}

            {% block body %}
            {% endblock body %}
        </div>
        <div id="content_footer"></div>
        <div id="footer">
            Copyright &copy; colour_purple | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a
                href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
        </div>
    </div>
</body>

</html>