{% extends "base.html" %}
{% block title %}
Courses
{% endblock %}
{% block body %}
<h1>Courses</h1>

<div>

  <br>
  {% for category in context.state.categories %}
  <h3>{{category.name}}</h3>
  {% for course in category.courses %}
  <ul>
    <li>
      <span>
        {{course.platform}} {{course.name}} {{course.place}}
      </span>
      <div>
        <a href="/courses/copy?name={{course.name}}">Copy course</a>
      </div>
    </li>
  </ul>
  {% endfor %}

  <a href="/courses/create/?category_id={{category.id}}">Create course</a>

  {% endfor %}
</div>
{% endblock %}